{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
                <tr>
                    <td class="text-start">{{ stock["symbol"] }}</th>
                    <td class="text-end">{{ stock["shares"] }}</th>
                    <td class="text-end">{{ usd(stock["price"] * stock["shares"]) }}</th>
                    <td class="text-end">{{ stock["time"] }}</th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}